S3_UPLOAD_REGION=
S3_UPLOAD_KEY=
S3_UPLOAD_SECRET=
S3_UPLOAD_BUCKET=

UPSTASH_REDIS_REST_URL="https://feasible-burro-38778.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AZd6AAIgcDE0ZDViMjE2ZjZiM2I0NTA4YjE4NTFlOWVjYzFkMTk0Nw"

TOGETHER_API_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cmVsYXRpdmUtaWd1YW5hLTU0LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_VWmKc12u4VEiT1Do3bF2cOFJU1YF7hUoHR5Ke5UwaF

HELICONE_API_KEY=